# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/

# Data
data/
!data/README.md
!data/.gitkeep
!data/*.pth

# IDE / Editor
.vscode/
.idea/
*.swp

# Logs
*.log

# Scripts & Configs
rclone.exe
rclone.conf
optuna_study.db
*.db

# Temporary
logs/
runpos_token.txt